body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


header {
    background-color: rgb(136, 108, 214);
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    color: #333;
    font-size: 24px;
}

.content p {
    color: rgb(192, 85, 144);
}


footer {
    background-color: rgb(211, 104, 170);
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 5px;
}